{% extends "base.html" %}

{% block content %}
    <h2>Login</h2>
    <form method="post">
        <label>
            <div class="login">Username</div>
            <input type="text" name="username" value="{{username}}">
        </label>
        <label>
            <div class="login">Password</div>
            <input type="password" name="password" value="">
        </label>
        <div class="error">{{error}}</div>

        <input type="submit">
    </form>
        <a href="../home"><button class="btn-cancel">Cancel</button></a>
{% endblock %}